@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  --cursor-front: #fff;
  --cursor-back: rgba(255, 255, 255, 0.3);
  --head-color: #2D2F2D;
  --highlight-color: #78A083; 
  --text-color: #f4f4f4;
  --background-main: rgb(32, 32, 32);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --nav: #e6eff1;
  --icon-back:#2D2F2D;
  --icon-front:#A2CA71;
  --about-span: #9BCF53;
  --home-btn: #50727B;
  --skill-gra1: #50727B;
  --skill-gra2: #78A083;
  --skill-head:#74E291;
  --edu-head:#50727B;
  --edu-h4:#344955;
  --edu-shadow:rgba(255, 255, 255, 0.9);
  --edu-shadow-hover:rgba(255, 255, 255, 1);
  --contact-back:rgb(32, 32, 32);
  --contact-front:#2D2F2D;
  --contact-text:#fff;
  --contact-massage:#007F73;
  --contact-btn:#4F6F52;
  --contact-btn-hover:#9cc49b;
  --contact-btn-shadow:#6e9a72;
  --work-gra1:#50727B ;
  --work-gra2:#344955 ;
  --work-text: #74E291;
  --work-hover: #50727B;
  --footer: #425F57;
  --footer-icon: #74E291;
}

[data-theme="light"] {
  --cursor-front: #000;
  --cursor-back: rgba(55, 55, 55, 0.3);
  --head-color: #f4f4f4;
  --highlight-color: #9370DB;
  --text-color: #1E201E;
  --background-main: #f4f4f4;
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --nav: #1E201E;
  --about-span: #8E7AB5;
  --home-btn: #AD88C6;
  --icon-back:#9370DB;
  --icon-front:#f4f4f4;
  --skill-head:#FF7ED4;
  --skill-gra1: #57059e;
  --skill-gra2: #4a00e0;
  --edu-head:#AD88C6;
  --edu-h4:#7469B6;
  --edu-shadow:rgba(0, 0, 0, 0.2);
  --edu-shadow-hover:rgba(0, 0, 0, 0.3);
  --contact-back:#e5ecfb;
  --contact-front:#fff;
  --contact-text:rgb(51, 51, 51);
  --contact-massage:rgb(115, 3, 167);
  --contact-btn:#2506ad;
  --contact-btn-hover:rgba(48, 68, 247, 0.6);
  --contact-btn-shadow:#421cecf5;
  --work-gra1:#00002c ;
  --work-gra2:#392467 ;
  --work-text: #FF7ED4;
  --work-hover: #836FFF;
  --footer: #2E073F;
  --footer-icon: #FF7ED4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  cursor: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--background-main);
  font-family: "Prompt", sans-serif;
  
}

*::selection {
  background: var(--highlight-color);
  color: #fff;
}

html {
  font-size: 62.5%;
  
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: var(--nav);
}

html::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
}

section {
  scroll-margin-top: 500px; /* ระยะห่างของเนื้อหาที่จะเลื่อนลงมาจากด้านบน */
}

.cursor {
  position: absolute;
  background-color: var(--cursor-front);
  width: 6px;
  height: 6px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursor::before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:block;
  background-image:url(http://mirkozeppieri.emanuelepapale.com/wp-content/uploads/2018/07/project-hover-cursor.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius: 100%;
  opacity:0;
}
.cursor.active {
  opacity: 0.5;
  transform: scale(0);
}
.cursor.active2 {
  opacity: 1;
  transform: scale(6);
}
.cursor.active2::before {
  opacity: 1;
}
.cursor.color-match {
  background-color: black; /* Change the cursor color to black when there's a color match */
}
.cursor.hovered {
  opacity: 0.08;
}
.cursor-follower {
  position: absolute;
  background-color: var(--cursor-back);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(5px, 5px);
}
.cursor-follower.active {
  opacity: 0.7;
  transform: scale(3);
}
.cursor-follower.active2 {
  opacity: 0.3;
  transform: scale(0);
}
.cursor-follower.hovered {
  opacity: 0.08;
}


/* pre loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: var(--background-main);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}
/* pre loader end */

/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: var(--head-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}


section {
  min-height: 100vh;
  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  color: var(--text-color);
  font-weight: 800;
  text-align: center;
}

.heading span {
  color: var(--highlight-color);
}

header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--text-color);
}

header .logo i {
  font-size: 2.2rem;
}

header .logo:hover {
  color: var(--highlight-color);
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar li {
  margin-left: 2.5rem;
}

header .navbar ul {
  display: flex;
  li {
    a {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin: 20px 0;
      padding: 10px 20px;
      text-decoration: none;
      color: var(--nav);
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 600;
      transition: .5s;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid var(--nav);
        border-bottom: 2px solid var(--nav);
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
      }
      &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--nav);
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
        border-radius: 10px;
      }
      &:hover {
        color: var(--head-color);
        &:before {
          transform: scaleY(0.5);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

header .navbar ul li a.active {
  color: var(--head-color);
  &:before {
    transform: scaleY(0.5);
    opacity: 1;
  }
  &:after {
    transform: scaleY(1);
    opacity: 1;
  }
}

/*
header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #011aff;
  border-bottom: 0.2rem solid #011aff;
  padding: 0.5rem 0;
} */
/* navbar ends */


/* hamburger icon starts */
#menu {
  font-size: 3rem;
  /* cursor: pointer; */
  color: var(--text-color);
  display: none;
}

@media (max-width: 768px) {
  #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: var(--head-color);
  }

  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }

  header .navbar ul li {
    text-align: center;
    width: 100%;
    border-radius: 0.5rem;
    width: 26rem;
  }

  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: var(--text-color);
    font-size: 2rem;
  }

  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--head-color);
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    right: 0;
  }
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

/* slider background */
.slider {
  background: var(--highlight-color);
  bottom: 0;
  /* cursor: pointer; */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

/* slider front box */
.slider::before {
  background: #fff;
  content: "";
  bottom: 4px;
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

/* slider transition */
input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* hero section starts */
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}

.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}

.home .image img {
  width: 50%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  /* cursor: pointer; */
}

.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--text-color);
}

.home .content h2 span {
  font-size: 5rem;
  color: var(--highlight-color);
  font-weight: 800;
}

.home .content p {
  font-size: 1.6rem;
  color: var(--text-color);
  margin: 1rem 0;
  line-height: 1.8;
}

.home .content p span {
  font-size: 2.5rem;
  color: #B99470;
  font-weight: 600;
  padding: 1rem 0;
}



.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: var(--text-color);
  background: var(--head-color);
  box-shadow: 0px 5px 18px var(--highlight-color);
  font-family: "Prompt", sans-serif;
}
.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  background: var(--home-btn); 
}
.home .btn:hover i {
  transform: translateX(5px);
}
/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: var(--icon-front);
  background-color: var(--icon-back);
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: var(--text-color);
  background-color: #0685da; 
}
.social-icons a.github:hover {
  background-color: #0e0e0e; 
}
.social-icons a.facebook:hover {
  background-color: #007bb6; 
}
.social-icons a.gmail:hover {
  background-color: #f54f4f; 
}
.social-icons a.instagram:hover {
  background-color: #ee00da; 
}
/* social icons end */

/* hero media queries starts*/
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home .image img {
    margin-top: -12rem;
  }
  .home .content p {
    font-size: 2.2rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
}
/* hero media queries ends*/
/* hero section end */

/* about section starts */
.about {
  background: none;
  position: relative;
}


.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  /* cursor: pointer; */
}
.about .row .image img:hover {
  mix-blend-mode: normal;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content h3 {
  color: var(--text-color);
  font-size: 2.5rem;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: var(--highlight-color);
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  text-transform: none;
  color: var(--text-color);
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
}
.about .row .content .box-container .box p span {
  color: var(--about-span); 
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}

.zig-zag-3d-edge {
  --s: 70px;  /* Control the size */
  --a: 90deg; /* Control the angle */
  --d: 20px;  /* The depth */
  position: absolute;
  height: 100px;
  width: 100vw;
  left: 0;
  bottom: 0;
  background: 
    conic-gradient(from calc(var(--a)/-2) at 50% calc(100% - var(--d)),
      #0008, #0000 1deg calc(var(--a) - 1deg), #0004 var(--a) calc(180deg + var(--a)/2), #0008 0) 
      50%/var(--s) var(--background-main); /* The main color */
  mask: 
    conic-gradient(from calc(var(--a)/-2) at bottom,
      #0000, #000 1deg calc(var(--a) - 1deg), #0000 var(--a)) 50%/var(--s);
}
/* .resumebtn {
  margin-top: 6rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: var(--text-color);
  background: #2506ad; 
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #1a047e; 
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
} */
/* about media queries ends*/
/* about section ends */

/* skills section starts */
.skills {
  min-height: 90vh;
  background: linear-gradient(to bottom, var(--skill-gra1), var(--skill-gra2));

}
.skills h2 {
  color: #fff;
}
.skills .heading span {
  color: var(--skill-head);
}
.skills .container {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;
}
.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 22, 0.9);
  transition: 0.2s;
}
.skills .container .bar:hover {
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .container .bar .info i {
  font-size: 4rem;
}
.skills .container .bar .info span {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Prompt";
  margin-left: 0.5rem;
}

 /* Applying CSS to sphere */
.tagcloud {
  display: inline-block;
  align-self: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
  color: #FFC300 ;
}

/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}
/* skills media queries ends*/
/* skills section ends */

/* cert section starts */

/* main styles */
.cert {
  background: var(--head-color);
  min-height: 80vh;
  color: var(--text-color);
  position: relative;
}

.cert .qoute {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}

.cert .box-container {

  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 5rem;
  padding: 2rem 0;
  scroll-behavior: smooth;
}

.cert .box-container::-webkit-scrollbar {
  height: 50px;
  width: 16px;
}

.cert .box-container::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
  border-radius: 10px;
}

.cert .box-container::-webkit-scrollbar-track {
  background: var(--nav);
  border-radius: 10px;
}


/* Ensure boxes don't stretch and have proper sizing */
.cert .box-container .box {
  flex: 0 0 auto; /* Prevent boxes from stretching */
  width: calc(100% / 3 - 2 * 5rem); /* Adjust width to fit 3 boxes with spacing */
  margin: 0; /* Remove margin */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem var(--edu-shadow);
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  background: var(--background-main);
}

.cert .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem var(--edu-shadow-hover);
}

.cert .box-container .box .image {
  position: relative;
  width: 100%;
  height: auto;
}

.cert .box-container .box img {
  object-fit: cover;
  width: 100%;
  height: 100%; /*ครอบคลุมความสูงของคอนเทนเนอร์*/
}

.cert .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(255,255,255,0) 50%);
  color: var(--text-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cert .box-container .box:hover .content {
  opacity: 1;
  transform: translateY(20%);
}

.cert .box-container .box:hover .image img {
  filter: brightness(50%);
}

.cert .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--edu-head);
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}

.cert .box-container .box .content p {
  font-size: 1.2rem;
  margin-left: 1rem;
  text-align: left;
}

.cert h4 {
  font-size: 1.8rem;
  color: var(--edu-h4);
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* cert media queries starts */
@media screen and (max-width: 600px) {
  /* .cert .box-container {
    
    
  }
 */
  .cert .box-container .box {
    width: 100%;
    margin-top: 1rem; /* ลดขนาด margin */
  }

  .cert .box-container .box .image {
    width: 100%;
    height: auto; /* ปรับความสูงของรูปภาพให้เหมาะสม */
  }

  .cert .box-container .box img {
    width: 100%;
    height: auto;
  }

  .cert .box-container .box .content {
    padding: 1rem;
  }

  .cert .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}





/* cert media queries ends*/
/* cert section ends */

/* work section starts */
.work {
  /* background: #010124; */
  background: linear-gradient(to bottom, var(--work-gra2), var(--work-gra1));
}
.work h2 {
  color: #fff;
  padding: 1rem;
}
.work .heading span {
  color: var(--work-text);
}
.work .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem;
}
.work .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 30rem;
}
.work .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.work .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
}
.work .box-container .box .content .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  padding-left: 1rem;
  background: var(--work-text);
}
.work .box-container .box .content .tag h3 {
  font-size: 2rem;
}
.work .box-container .box:hover .content {
  top: 25%;
}
.work .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .desc p {
  font-size: 1.5rem;
}
.work .desc .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.work .desc .btns .btn {
  line-height: 0;
  display: inline;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  background: rgb(12, 12, 12);
  margin-right: 2rem;
}
.work .desc .btns .btn:hover {
  background: var(--work-hover);
}
.work .viewall {
  display: flex;
  justify-content: center;
}
.work .viewall .btn {
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 0.5em;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: 2px solid #fff;
  box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
  text-align: center;
}
.work .viewall .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
}
.work .viewall .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.work .viewall .btn:hover {
  background: #fff;
  color: #000;
}
.work .viewall .btn:hover i {
  transform: translateX(5px);
}
/* work section ends */

/* edu section starts */
.edu{
  min-height: 80vh;
}

.edu .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.edu .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background: #020133;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -2;
}
.edu .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  top:50px
}
/*circles on timeline*/
.edu .container::after {
  content: "\f0b1";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.89rem;
  text-align: center;
  font-weight: 600;
  color: #02094b;
  font-family: "Font Awesome\ 5 Free";
}
.edu .left {
  left: 0;
}
.edu .right {
  left: 50%;
}
/* arrows pointing right */
.edu .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 31px;
  border: medium solid #f68c09;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f68c09;
}
/* arrows pointing left  */
.edu .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 31px;
  border: medium solid #f68c09;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f68c09 transparent transparent;
}
.edu .right::after {
  left: -16px;
}

.edu .timeline::after {
  bottom: 10%; 
}

.edu .content {
  background-color: #f68c09;
  position: relative;
  border-radius: 6px;
}
.edu .content .tag {
  font-size: 1.3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.edu .content .desc {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}
.edu .content .desc h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.edu .content .desc p {
  font-size: 1.2rem;
}



/* view all button */
/* .morebtn {
  display: flex;
  justify-content: center;
}
.morebtn .btn {
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 0.5em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  text-align: center;
}
.morebtn .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
}
.morebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.morebtn .btn:hover {
  background: #1a047e;
}
.morebtn .btn:hover i {
  transform: translateX(5px);
}
 */


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .edu {
    min-height: 80vh;
  }
  .edu .timeline {
    margin-top: 2rem;
  }
  .edu .timeline::after {
    left: 31px;
  }
  .edu .container {
    width: 100%;
    padding-left: 8rem;
    padding-right: 2rem;
  }
  .edu .container::after {
    font-size: 2.2rem;
  }
  .edu .container::before {
    left: 61px;
    border: medium solid #f68c09;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f68c09 transparent transparent;
  }
  .edu .left::after {
    left: 15px;
  }
  .edu .right::after {
    left: 15px;
  }
  .edu .right {
    left: 0%;
  }
  .morebtn {
    margin-top: 3rem;
  }
}
/* edu media queries ends */
/* edu section ends */

/* contact section starts */
.contact {
  background: var(--contact-back);
  min-height: 60vh;
  position: relative;
}
.contact .container {
  max-width: 1050px;
  width: 100%;
  background: var(--contact-front);
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}
.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: var(--contact-text);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
  border-radius: 5px;
  border: 1px solid var(--contact-text);
  background: var(--contact-front);
}
.field input::placeholder,
.message textarea::placeholder {
  color: var(--contact-text);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid var(--contact-massage);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: var(--contact-massage);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  /* cursor: pointer; */
  border-radius: 5px;
  padding: 13px 25px;
  background: var(--contact-btn);
  box-shadow: 0px 5px 10px var(--contact-btn-shadow);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: var(--contact-btn-hover);
}
.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 8px;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }
  .contact .container {
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content {
    padding: 18px 12px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}
/* contact section media queries ends */
/* contact section ends */

/* footer section starts */



/* === Variables ===== */
:root {
  --perspective: 60rem;
  --font-size: 4.25rem;
  --split-position: 49%;
  --split-thickness: 4px;
  --split-color: #FF2C75;
}

/* === Settings ===== */



.footer{

  .btn {
    justify-content: center;
    position: relative;
    padding: 10px 20px;

    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
  }
  
  .btn:after,
  .btn:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0 solid #fff;
    transition: all 1s;
  }
  
  .btn:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
  }
  
  .btn:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
  }
  
  .btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .btn:hover:before,
  .btn:hover:after {
    width: 100%;
    height: 100%;
  }
}





.footer {
  min-height: auto;
  padding-top: 0;
  background: var(--footer);
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: var(--footer-icon);
}
.footer .box-container .box a {
  
  font-size: 2rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: var(--footer-icon);
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #1E201E;
  border: none;
}

.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: var(--footer-icon);
}
.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: var(--footer-icon);
}
.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}
/* footer section ends */

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }
}
/* common media queries ends*/

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #609966;
  color: #EDF1D6;
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}
/* scroll top ends */
